

.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: auto 80%;
    grid-template-areas:
      'sidebar sidebar'
      'main main'
      'footer footer';
  }
  
  @media(min-width: 768px) {
    .wrapper {
      grid-template-areas:
      'sidebar main'
      'sidebar main'
      'sidebar footer';
    }
  }